<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>文章列表--layui后台管理模板</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/layui/css/layui.css" media="all"/>
</head>
<body class="childrenBody">
<div class="rechargeTable layui-form" style="padding-top: 10px;padding-left: 10px;" id="f1">
    <div class="layui-inline">
        包名：
        <div class="layui-input-inline">
            <select name="packageName" id="packageName" lay-verify="" lay-search>
                <option value="">--请选择--</option>
            </select>
        </div>
    </div>
    <div class="layui-inline">
        平台：
        <div class="layui-input-inline">
            <select name="platform" id="platform" lay-verify="" lay-search>
                <option value="">--请选择--</option>
                <option value="android">android</option>
                <option value="ios">ios</option>
            </select>
        </div>
    </div>
    <button class="layui-btn" data-type="reload">搜索</button>
</div>

<div style="padding: 10px;">
    <table id="rechargeTable" lay-filter="test"></table>
</div>
<script type="text/javascript" src="/layui/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {

    });
</script>
<script>
    layui.use(['table', 'form', 'laydate'], function () {
        /*var laydate = layui.laydate;
        laydate.render({
            elem: '#startTime' //指定元素
            , type: 'datetime'
        });*/
        var table = layui.table;
        var form = layui.form;
        //第一个实例
        table.render({
            elem: '#rechargeTable'
            , id: 'idTest'
            , url: '/recharge/rechargePage' //数据接口
            , page: true //开启分页
            , cols: [[ //表头
                {type: 'numbers'}
                , {field: 'productId', title: 'PRODUCTID' ,edit: 'text'}
                , {field: 'save', title: '折扣', edit: 'text'}
                , {field: 'coin', title: '金币', sort: true, edit: 'text'}
                , {field: 'price', title: '价格', edit: 'text'}
                , {field: 'language', title: '语言' ,edit: 'text'}
                , {field: 'packageName', title: '包名' ,edit: 'text'}
                , {field: 'platform', title: '平台' ,edit: 'text'}
                , {field: 'status', title:'状态', width:85, templet: '#switchTpl', unresize: true}
                , {fixed: 'right', title: '操作', width: 90, align: 'center', toolbar: '#barDemo'}
            ]]
        });
        var $ = layui.$, active = {
            reload: function () {
                //执行重载
                table.reload('idTest', {
                    where: {
                        packageName: $("#packageName").val(),
                        platform: $("#platform").val(),
                    }
                });
            }
        };
        $('.rechargeTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        $.post("/p12/list", function (data) {
            for (var i = 0; i < data.length; i++) {
                $("#packageName").append("<option>" + data[i].packageName + "</option>");
            }
            form.render();
        });

        table.on('tool(test)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象

            if (layEvent === 'del') { //删除
                layer.confirm('真的删除行么', function (index) {
                    //obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                    //向服务端发送删除指令
                    $.post("/recharge/delete/" + data.id, function (data) {
                        if (data.status == 200) {
                            layer.confirm("删除成功");
                            table.reload('idTest', {});
                        }
                    });
                });
            }
        });
        table.on('edit(test)', function (obj) { //注：edit是固定事件名，test是table原始容器的属性 lay-filter="对应的值"
            var val = obj.value; //得到修改后的值
            var ff = obj.field; //当前编辑的字段名
            var data =obj.data;
            //var userid = obj.data.userid;
            //var param = JSON.stringify(obj.data);
            $.get("/recharge/edit?id=" + data.id+"&"+ff+"="+val, function (data) {
                /*if (data.status == 200) {
                    layer.confirm("删除成功");
                    table.reload('idTest', {});
                }*/
            });

        });
        form.on('switch(statusDemo)', function(obj){
            //layer.tips(this.value + ' ' + this.name + '：'+ obj.elem.checked, obj.othis);
            $.post("/recharge/update/" + this.id, function (data) {
                /*if (data.status == 200) {
                    layer.confirm("成功");
                    table.reload('idTest', {});
                }*/
            });
        });
    });

</script>
<script type="text/html" id="barDemo">
    <!-- <a class="layui-btn layui-btn-mini" lay-event="detail">查看</a>-->
    <!--<a class="layui-btn layui-btn-mini" lay-event="edit">编辑</a>-->
    <a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del">删除</a>
</script>
<script type="text/html" id="switchTpl">
    <input type="checkbox" name="status" value="{{d.status}}" id="{{d.id}}" lay-skin="switch" lay-text="启用|关闭" lay-filter="statusDemo" {{ d.status == 1 ? 'checked' : '' }}>
</script>
</body>
</html>